APP_ENV=development # The application environment (e.g., development, production)
APP_DEBUG=true # Enable or disable debug mode

PORT=3000 # The port on which the application will run

# Database configuration
DB_HOST=
DB_PORT=6543
DB_NAME=postgres
DB_USER=
DB_PASSWORD=
